@model OnlineExamManagementSystem.Models.Course

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h4>Course</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Organization)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Organization)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Batch)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Batch)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CourseDuration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CourseDuration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Credit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Credit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Outline)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Outline)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tags)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tags)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
