@model OnlineExamManagementSystem.Models.Course

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <title>Details</title>
</head>
<body>*@
    <div>
        <h4>Course</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Organizations.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Organizations.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CourseDuration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CourseDuration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Credit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Credit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Outline)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Outline)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
@*</body>
</html>*@
